@import '../../config.scss';
.mainContainer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  min-height: calc(100vh - 120px);
}

.emptyBox {
  h1 {
    width: fit-content;
  }
  width: 400px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrap {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "a b"
    "a b";

  gap: 20px;

  @media screen and (max-width: 1450px) {
    width: 90%;
  }

  @media screen and (max-width: 1024px) {
    grid-template-areas:
      "b"
      "a";
  }

  h2 {
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.orderForm {
  grid-area: a;
  max-width: 600px;
  position: relative;
  p {
    color: #9a8c98;
    font-size: 0.9rem;
    font-weight: 500;
  }

  a {
    color: $primary;
  }
}

.amountBtn {
  cursor: pointer;
}

.cutleryWrap {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgb(231, 229, 229);
  display: flex;
  justify-content: space-between;

  aside {
    font-weight: 500;
    color: #9a8c98;
  }
}

.amount {
  width: 100px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  display: flex;
}

.catalogRef {
  height: 40px;
  width: 250px;
  background-color: $primary;
  margin-top: 40px;
  line-height: 40px;
  color: #000;
  font-weight: 500;
  transition: 0.2s ease;

  &:hover {
    background-color: $secondary;
  }
}

.items {
  grid-area: b;
}
