footer {
  width: 100%;
  height: fit-content;
  background-color: black;
  color: #fff;
}

.footerWrap {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "a b c d"
    "a b c e";
  gap: 20px;

  @media screen and (max-width: 1450px) {
    width: 90%;
  }

  @media screen and (max-width: 1000px) {
    grid-template-areas:
      "a d e"
      "b c c";
      align-items: center;
      justify-items: center;
  }

  @media screen and (max-width: 680px) {
    gap: 40px;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
  }
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  width: 165px;
}

.navItem {
  padding: 0px 10px 20px 10px;
}

.firstSection {
  grid-area: a;
}

.secondSection {
  grid-area: b;
}

.thirdSection {
  grid-area: c;
}

.footerPost {
  display: flex;
  justify-content: flex-end;
  grid-area: e;
  font-size: 1.2rem;

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }
}
