* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #9a8c98;
  -webkit-box-shadow: 0 0 0px 100px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}